<div class="max-w-[1000px] mx-auto my-24">
  <div class="flex" cdkDropListGroup>
    <ng-container *ngFor="let column of columns; trackBy: trackById">
      <app-kanban-column
        cdkDrag
        class="flex-1 p-8 border-r border-gray-300 last:border-r-0"
        cdkDropList
        [cdkDropListData]="column.tickets"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-2xl font-bold">{{ column.title }}</h2>
          <button (click)="addTicket(column.id)" class="px-2 py-1 bg-blue-500 text-white rounded">+ Añadir</button>
        </div>

        <ng-container *ngFor="let ticket of column.tickets; trackBy: trackByTicketId">
          <div cdkDrag class="bg-white p-4 rounded-lg shadow-md mb-4">
            <input
              type="text"
              [value]="ticket.title"
              (input)="editTicket(ticket, 'title', $any($event.target).value)"
              class="font-semibold mb-2 w-full border-b border-gray-300"
            />
            <textarea
              (input)="editTicket(ticket, 'description', $any($event.target).value)"
              class="w-full border-b border-gray-200 mb-2"
              placeholder="Descripción">{{ ticket.description }}</textarea>
            <div class="flex justify-between items-center mt-2">
              <select (change)="editTicket(ticket, 'priority', $any($event.target).value)" [value]="ticket.priority">
                <option value="High">Alta</option>
                <option value="Medium">Media</option>
                <option value="Low">Baja</option>
              </select>
              <button (click)="deleteTicket(column.id, ticket.id)" class="text-red-500">Eliminar</button>
            </div>
          </div>
        </ng-container>
      </app-kanban-column>
    </ng-container>
  </div>
</div>
