.scroll-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #222;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 1000;
}
.scroll-btn:hover {
  background: #555;
}
