/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-100;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-preview,
.cdk-drag-preview input,
.cdk-drag-preview textarea,
.cdk-drag-preview select,
.cdk-drag-preview button  {
  @apply bg-green-300 shadow-md;
}

.cdk-drop-list-receiving {
  border: 1px solid red;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
